name biwa
bin biwa
version "0.1.0"
about "CLI to execute commands on UNSW CSE servers from local"
usage "Usage: biwa [OPTIONS] [COMMAND]"
flag "-v --verbose" help="Set the verbosity level." var=#true global=#true count=#true {
    long_help "Set the verbosity level.\n\nCan be used multiple times to increase verbosity (e.g., -v, -vv, -vvv).\nBy default, only warnings and errors are shown.\n-v: info\n-vv: debug\n-vvv: trace"
}
flag "-q --quiet" help="Suppress biwa internal logs, only showing remote command output" global=#true
flag "-s --silent" help="Suppress all output, including remote command stdout/stderr" global=#true
arg "[RUN_COMMAND_ARGS]…" help="The arguments for the command to run on the remote host" required=#false double_dash=automatic var=#true hide=#true
cmd run help="Run commands on remote host" {
    alias r
    flag --no-sync help="Skip automatic synchronization before running the command"
    flag --sync-root help="Base directory to start the synchronization from. Overrides the current working directory" {
        arg <SYNC_ROOT>
    }
    flag "-d --remote-dir" help="Override the remote project directory path. Bypasses the default `remote_root` + project name" {
        arg <REMOTE_DIR>
    }
    flag "-f --force" help="Force synchronization of all files, ignoring incremental hash checks"
    flag "-e --exclude" help="Exclude files matching these paths or globs" var=#true {
        arg <EXCLUDE>
    }
    flag "-i --include" help="Only synchronize files matching these paths or globs" var=#true {
        arg <INCLUDE>
    }
    arg <COMMAND> help="The command to run"
    arg "[COMMAND_ARGS]…" help="The arguments for the command" required=#false double_dash=automatic var=#true
}
cmd sync help="Synchronize files to remote host" {
    alias s
    flag --sync-root help="Base directory to start the synchronization from. Overrides the current working directory" {
        arg <SYNC_ROOT>
    }
    flag "-d --remote-dir" help="Override the remote project directory path. Bypasses the default `remote_root` + project name" {
        arg <REMOTE_DIR>
    }
    flag "-f --force" help="Force synchronization of all files, ignoring incremental hash checks"
    flag "-e --exclude" help="Exclude files matching these paths or globs" var=#true {
        arg <EXCLUDE>
    }
    flag "-i --include" help="Only synchronize files matching these paths or globs" var=#true {
        arg <INCLUDE>
    }
}
cmd init help="Initialize a biwa configuration file" {
    flag "-f --force" help="Force overwrite if file exists"
    flag --format help="Format to generate (toml, json, jsonc, json5, yaml, yml)" default=toml {
        arg <FORMAT>
    }
}
cmd schema hide=#true help="Generate the JSON schema for the configuration"
cmd completion help="Generate shell completion scripts" {
    arg <SHELL> help="Shell type to generate completions for" {
        choices bash fish zsh
    }
}
cmd usage hide=#true help="Generate usage command specifications"
