allowed-duplicate-crates = [
	"hashbrown",
	"rand",
	"rand_chacha",
	"rand_core",
	"redox_syscall",
	"serde_spanned",
	"toml",
	"windows-core",
	"windows-link",
	"windows-result",
	"windows-strings",
	"windows_aarch64_gnullvm",
	"windows_aarch64_msvc",
	"windows_i686_gnu",
	"windows_i686_gnullvm",
	"windows_i686_msvc",
	"windows_x86_64_gnu",
	"windows_x86_64_gnullvm",
	"windows_x86_64_msvc",
	"windows-sys",
	"windows-targets",
	"winnow",
]
