allowed-duplicate-crates = [
	"windows-targets",
	"windows-sys",
	"windows_aarch64_gnullvm",
	"windows_aarch64_msvc",
	"windows_i686_gnu",
	"windows_i686_gnullvm",
	"windows_i686_msvc",
	"windows_x86_64_gnu",
	"windows_x86_64_gnullvm",
	"windows_x86_64_msvc",
	"serde_spanned",
	"toml",
]
