:root {
	--vp-c-brand-1: #c2781b;
	--vp-c-brand-2: #e9912c;
	--vp-c-brand-3: #fbb040;
	--vp-c-brand-soft: rgba(233, 145, 44, 0.14);
}

.dark {
	--vp-c-brand-1: #fbb040;
	--vp-c-brand-2: #e9912c;
	--vp-c-brand-3: #c2781b;
	--vp-c-brand-soft: rgba(233, 145, 44, 0.16);
}
