name: Lint PR Title

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint PR title
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          # always sync with release-plz.toml
          # `Revert` or `Reapply` PR titles can't be parsed
          # ref: https://github.com/amannn/action-semantic-pull-request/issues/278
          types: |
            feat
            fix
            perf
            refactor
            docs
            test
            style
            build
            ci
            chore
            revert

  actions-timeline:
    name: Generate Actions Timeline
    needs:
      - lint
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read

    steps:
      - name: actions-timeline
        uses: Kesin11/actions-timeline@7c7e0821d38f27460f4a71ef874a1c8cf23602e4 # v2.2.6
